In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [10]:
df = yf.download("TSLA",
start = "2010-01-01",
end = "2020-12-31" ,
progress=False)
df = df.loc[:, ["Adj Close"]]

In [11]:
df["simple_rtn"] = df["Adj Close"].pct_change()
df["log_rtn"] = np.log(df["Adj Close"]/df["Adj Close"].shift(1))

In [12]:
df.head()

            Adj Close  simple_rtn   log_rtn
Date
2010-06-29   1.592667         NaN       NaN
2010-06-30   1.588667   -0.002511 -0.002515
2010-07-01   1.464000   -0.078473 -0.081723
2010-07-02   1.280000   -0.125683 -0.134312
2010-07-06   1.074000   -0.160937 -0.175470